.baol-footer
	background #171717
	
.baol-footer__list
	padding 70px 0
	
.baol-baol-footer__item-addres
	padding 0px 0px 0px 80px
	
.baol-baol-footer__item-addres:first-child
	padding 0 0 60px 80px


.baol-footer-logo-container
	text-align center

.baol-logo-responsive-footer
	width 200px
	
.baol-baol-footer__item-addres h6 
	color #707070
	font-family RobotoLight
	font-size 1em
	font-weight 400
	position relative
	padding-bottom 20px
	&:before
		content ""
		position absolute
		width 45px
		height 3px
		background hsla(0,0%,44%,.44)
		top 5px
		left -60px
		
.baol-baol-footer__item-addres p
	color #f4f4f5
	font-family RobotoLight
	font-size 16px
	line-height 27px
	
.baol-social-block__links
	margin-right 20px

.baol-social-block__links i:hover 
	color #ff7a24
	
.baol-footer__copyright
	padding 20px 0
	text-align center
	display flex 
	justify-content center
	align-items center
	border-top 1px solid rgba(112, 112, 112, 0.32)

.baol-footer__copyright p 
	line-height 39px
	color #fff
	font-size 14px

.baol-footer__copyright i 
	padding 0 10px

.baol-footer__copyright p span 
	color #707070

.baol-footer__copyright a 
	line-height 0px

.baol-footer__copyright img 
	width 25px
	margin 0 5px
	
@media (min-width: 768px) and (max-width: 991px)
	.baol-baol-footer__item-addres
		padding 0 0 60px 80px
		display table 
		margin 0 auto
		width 320px
		
	.baol-baol-footer__list-item:last-child .baol-baol-footer__item-addres
		padding 0 0 0px 80px
		
	.baol-footer-logo-container
		text-align center
		margin-bottom 60px
				
@media (max-width: 768px)
	.baol-baol-footer__item-addres
		padding 0 0 60px 80px
		display table 
		margin 0 auto
		width 320px
		
	.baol-baol-footer__list-item:last-child .baol-baol-footer__item-addres
		padding 0 0 0px 80px
		
	.baol-footer-logo-container
		text-align center
		margin-bottom 60px
		
	.baol-footer__copyright
		flex-wrap wrap
		
	.baol-footer__copyright > *
		width 100% 
		
	.baol-footer__copyright > i 
		display none
		
	